<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Switchex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Switchex.Properties.Settings.switchexConnectionString"
            connectionString="Data Source=|DataDirectory|\switchex.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Switchex.Properties.Settings>
            <setting name="updatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>983,417</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnWidths" serializeAs="String">
                <value>43,133,100,133,60,63,133,133</value>
            </setting>
            <setting name="openWow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentProfile" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="deleteServersAfterProfile" serializeAs="String">
                <value>False</value>
            </setting>
        </Switchex.Properties.Settings>
    </userSettings>
</configuration>
