<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Switchex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Switchex.Properties.Settings.WoWServerConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\WoWServer.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Switchex.Properties.Settings>
            <setting name="updatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="realmPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>914 410</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnWidths" serializeAs="String">
                <value>41 133 133 133 39 65 133</value>
            </setting>
            <setting name="installType" serializeAs="String">
                <value/>
            </setting>
            <setting name="openWow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bit64" serializeAs="String">
                <value>False</value>
            </setting>
        </Switchex.Properties.Settings>
    </userSettings>
</configuration>
